/* .container-time {
    display: flex;
    justify-content: right;
    margin-top: -650px;
    align-items: top;
} */
.container-time {
    display: flex;
    position: absolute;
    top: 0px;
    right: 30px;
    align-items: top;
    z-index: 1
}

.c-time {
    border-radius: 25px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 2px 5px 3px rgb(235, 233, 233);
}

.next-salet {
    font-weight: 500;
    color: rgb(48, 138, 138)
}

.date-salet {
    color: rgba(107, 12, 12, 0.678);
    font-weight: 500;
    /* text-decoration: underline; */
}

.asr {
    color: rgb(48, 138, 138);
}

.und-l {
    text-decoration-line: underline;
}

.img-MainBg {
    width: 180%;
    height: 200px;
    margin: 0px;
    opacity: 0.4;
}

/* @media all and (max-height: 400) {
    .container-time {
        height: 1000px;
    }
} */